body {
  background: #3da3d5;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  color: rgb(53, 53, 53);
}

h3 {
  padding-top: 0.25em;
}

.vertical-timeline-element-content {
  box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.25),
    0 0.4em 1.25em 0 rgba(0, 0, 0, 0.15) !important;
  padding: 2em 3em !important;
}

.date {
  color: rgb(201, 251, 255);
}

#description {
  margin: 1.5em 0 2em 0;
}

.button {
  text-decoration: none;
  padding: 0.5em 1em;
  border-radius: 5px;
  color: white;
}

.workButton {
  background-color: #06d6a0;
}

.workButton:hover {
  background-color: #0ac593;
}

.schoolButton {
  background-color: #f9c74f;
}

.schoolButton:hover {
  background-color: #f3bc3c;
}

@media only screen and (max-width: 1700px) {
  .vertical-timeline-element-date {
    display: block !important;
    float: none !important;
    color: rgb(44, 44, 44);
    margin-top: 1.5em;
  }
}

.icon-container {
  display: flex;
  align-items: center;
}

.profile-image {
  width: 40vh;
  height: 20vh;
  object-fit: scale-down; /* Bild skalieren, um den Container zu füllen */
  margin-bottom: 1vh;
}

.buttons-container {
  display: flex;
  width: 100%;
}

.navigation-bar {
  background-color: #184257;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
}

.nav-button {
  flex-grow: 1;
  width: calc(100% / 3); /* Aufteilen in 3 gleich große Teile */
  padding: 10px 0;
  background-color: black;
  color: white;
  border: solid;
  cursor: pointer;
  font-size: 20px;
}

.nav-button:hover {
  background-color: #f3bc3c;
}

/**/
.free-time-activities {
  text-align: center;
  padding-bottom: 3vh;
  padding-top: 3vh;
}

.carousel-wrapper {
  padding-top: 3vh;
}

.free-time-activities .carousel.carousel-slider {
  margin-left: auto; /* Set left margin to auto */
  margin-right: auto; /* Set right margin to auto */
  max-width: auto; /* Optional: Set a maximum width if needed */
  height: auto;
  padding: 0;
}

.projects {
  text-align: center;
  padding-bottom: 10vh;
  padding-top: 3vh;
}

.card-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding: auto;
  padding-top: 1vh;
}

.typing-effect {
  font-size: 24px; /* Adjust the font size as needed */
  font-weight: bold; /* Optionally, make the text bold */
  margin-top: 20px; /* Add top margin */
  margin-bottom: 20px; /* Add bottom margin */
  /* Add other styles as desired */
}
